@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red; */
}

:root {
  --colors-background: hsl(255, 22%, 4%);
  --colors-secundary: hsl(211, 13%, 61%);
  --colors-primary: hsl(267, 84%, 39%);
}

html {
  font-size: 10px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

strong {
  color: white;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

.container {
  min-height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-background);
}

.section-title {
  font-size: 4rem;
  font-weight: 500;
  color: black;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

kbd {
  color: var(--colors-background);
  background: var(--colors-secundary);
  padding: 1px 5px;
  border-radius: 0.5rem;
  transition: background var(--colors-background)
    cubic-bezier(0.42, 0, 1, -0.24);
  font-size: 2rem;
}

kbd:hover {
  background-color: white;
}

/*-Seção de navegação-*/

#navigation {
  background-color: var(--colors-background);
}

#navigation .list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}

#navigation li {
  margin-inline: 3rem;
}

#navigation .nav {
  display: inline-block;
  padding: 10px 30px;
  color: #f2f2f2;
  background-color: transparent;
  border-radius: 10px;
  /* border: 2px solid grey; */
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 5px;
  transition: 0.6s ease;
  transition-property: background-color, color;
}

#presentation .nav:hover {
  color: white;
  font-weight: 500;
  background-color: var(--colors-primary);
}

/*- Seção de apresentação -*/

#presentation {
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#presentation h1 {
  display: block;
  width: fit-content;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}

#presentation h1 a {
  text-decoration: underline;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 4s;
}

#presentation h1:nth-child(1) {
  animation-delay: 0.8s;
}

#presentation h1:nth-child(2) {
  animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
  animation: text_reveal_name 1.5s ease forwards;
  animation-delay: 2.8s;
}

#presentation h1:nth-child(4) {
  animation-delay: 3.8s;
}

#presentation .cta {
  display: inline-block;
  padding: 10px 30px;
  color: var(--colors-primary);
  background-color: transparent;
  border: 2px solid var(--colors-primary);
  border-radius: 5px;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  transition: 0.6s ease;
  transition-property: background-color, color;
}

#presentation .cta:hover {
  color: white;
  font-weight: 500;
  background-color: var(--colors-primary);
}

#presentation h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
  background-color: var(--colors-primary);
}

#presentation h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#presentation h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#presentation h1:nth-child(4) span {
  animation-delay: 3.5s;
}

#presentation::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

/* Seção de portifólio */

#portfolio {
  background-color: var(--colors-background);
}

#portfolio .section-title {
  background-image: linear-gradient(
    to bottom,
    rebeccapurple,
    steelblue,
    turquoise
  );
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}

#portfolio .portfolio {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

#portfolio .portfolio-header h1 {
  margin-bottom: 50px;
}

#portfolio .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#portfolio .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#portfolio .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
  color: white;
}

#portfolio .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}

#portfolio .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}

#portfolio .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#portfolio .project-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}

#portfolio .project-img img {
  transition: 0.5s ease transform;
}

#portfolio .project-item:hover .project-img img {
  transform: scale(1.1);
}

/*- Seção Sobre -*/

#about .container {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#about .header h1 {
  margin-bottom: 50px;
}

#about {
  background-color: var(--colors-background);
}

#about .header {
  margin-bottom: 50px;
}

#about .section-title {
  color: whitesmoke;
}

#about .gradient {
  font-size: 2.5rem;
  background-image: linear-gradient(
    to bottom,
    rebeccapurple,
    steelblue,
    turquoise
  );
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}

#about .perfil-img img {
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

#about .perfil-img img {
  transition: 0.5s ease transform;
}

#about .content:hover .perfil-img img {
  transform: scale(1.1);
}

#about .content {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#about .paragraph {
  display: flex;
  flex-direction: column;
  color: var(--colors-secundary);
  max-width: 30rem;
}

#about .paragraph h1 {
  margin-bottom: 1rem;
}

#about .course {
  text-decoration: underline;
}

#about .languagem-list {
  margin-top: 3rem;
}

#about .languagem-list li {
  padding: 0.6rem;
  font-size: 1.4rem;
}

/*- Seção de Certificate -*/

#certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--colors-background);
}

#certificate .header {
  margin-bottom: 7rem;
  margin-top: 7rem;
}

#certificate .section-title {
  background-image: linear-gradient(
    to bottom,
    rgb(180, 126, 44),
    rgb(129, 89, 194),
    rgb(92, 30, 236)
  );
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}

#certificate .paragraph-certificate {
  color: var(--colors-secundary);
  font-weight: 200;
  position: absolute;
  left: 20px;
  top: 35px;
  line-height: 15px;
}

.wrapper {
  height: 300px;
  width: 800px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  margin-bottom: 200px;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /* margin-left: -100px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  text-decoration: underline;
}

.bar {
  position: absolute;
  top: 140px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(90deg, #ff9580 0%, #9580ff 65%, #9580ff 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.link {
  position: absolute;
  top: 50px;
  /* left: calc(50% - 60px); */
  left: 48px;
  opacity: 0;
  transition: 0.9s ease;
}

.card:hover .link {
  opacity: 100;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

/*- Seção Scrollbar -*/

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--colors-background);
}

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background-color: #5a10b5;
}

/*- Seção back to top -*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
}

#backToTopButton .show {
  opacity: 1;
  visibility: visible;
}

/* keyframes */

@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: var(--colors-primary);
    font-weight: 500;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

/* Media Query */

@media only screen and (min-width: 768px) {
  #portfolio .project-item {
    flex-direction: row;
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  #portfolio .all-projects .project-info {
    height: 100%;
  }

  #portfolio .all-projects .project-img {
    height: 100%;
  }

  #portfolio .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 700px) {
  #about .content {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  #certificate .title {
    text-decoration: none;
  }

  .bar {
    display: none;
  }

  .circle {
    /* display: none; */
    top: 60px;
    z-index: -1;
    left: 30px;
  }

  .card {
    width: 200px;
  }

  .card:hover {
    transform: translateX(-100px);
    transition: 0.6s ease-out;
    width: 300px;
  }

  .card:not(:first-child) {
    margin-left: 0px;
  }

  #certificate .paragraph-certificate {
    display: none;
  }
}
